.canvas-wrapper {
  width: 90%;
  height: 34rem;
}

.save-wrapper {
  width: 100%;
}

.save-wrapper > button {
  margin: 0.5rem 0;
  padding: 5px 10px;
  font-size: 1.1rem;
  border-radius: 0.5rem;
}

.save-wrapper > button:hover {
  transform: scale(1.1);
  cursor: pointer;
}

canvas {
  border: 2px solid #000 !important;
}
